{% extends 'main_page.html' %}
{% block content %}

<div  class="row g-4" >
    <div class="col-12">
        <div class="text-center mx-auto" style="max-width: 700px;">
            <h1 class="text-primary">Get in touch</h1>
            <p class="mb-4">The contact form is currently inactive. Get a functional and working contact form with Ajax &amp; PHP in a few minutes. Just copy and paste the files, add a little code and you're done. <a href="https://htmlcodex.com/contact-form">Download Now</a>.</p>
        </div>
    </div>
    <div class="col-lg-12">
       
        </div>
    </div>
    <div class="col-lg-7">
        <form action="{% url 'registerdata' %}" method="post"   enctype="multipart/form-data"  class="">
            {% csrf_token %}
            <input type="text" class="w-100 form-control border-0 py-3 mb-4" placeholder="username" name="username">
            <input type="password" class="w-100 form-control border-0 py-3 mb-4" placeholder="password" name="password">
            <input type="number" class="w-100 form-control border-0 py-3 mb-4" placeholder="contact" name="contact">
            <input type="email" class="w-100 form-control border-0 py-3 mb-4" placeholder="mail" name="mail">
    
            <button class="w-100 btn form-control border-secondary py-3 bg-white text-primary " type="submit">Submit</button>
        </form>
    </div>
   

{% endblock %}

