{% extends 'admin_page.html' %}

{% block content %}

<html>
<form action="{% url 'productdata' %}"  method="post"  enctype="multipart/form-data">
  {% csrf_token %}
    <div class="card-body">
      <div class="form-group">
        <label for="exampleInputEmail1">product name</label>
        <input type="text" class="form-control" id="" placeholder="enter product name"  name="name"  >
      </div>
      <div class="form-group">
        <label for=""> product price</label>
        <input type="text" class="form-control" id="" placeholder="price"  name="price"  >
        <label for="">product category</label>
        
       

       <select name="category" id="">
        {% for i in data3 %} 
        <option value="{{i.name}}">{{i.name}}</option>
        {% endfor %}
       </select>

      

        <br>
        <label for="">description</label>
        <input type="text" class="form-control" placeholder="description"  name=" description"  >
       

      </div>
      <div class="form-group">
        <label for="exampleInputFile">image</label>
        <div class="input-group">
          <div class="custom-file">
            <input type="file" name="image">
            
          </div>
          <div class="input-group-append">
            <span class="input-group-text">Upload</span>
          </div>
        </div>
      </div>
      
    </div>
    <!-- /.card-body -->

    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>

  </html>

  {% endblock %}