{% extends 'admin_page.html' %}

{% block content %}

<html>
<form action="{% url 'categorydata' %}"  method="post"  enctype="multipart/form-data">
  {% csrf_token %}
    <div class="card-body">
      <div class="form-group">
        <label for="exampleInputEmail1">category name</label>
        <input type="text" class="form-control" id="" placeholder="enter name"  name="name" >
      </div>
      <div class="form-group">
        <label for=""> category description </label>
        <input type="text" class="form-control" id="" placeholder="description"  name="description" >
        
   </div>
      <div class="form-group">
        <label for="exampleInputFile">category image</label>
        <div class="input-group">
          <div class="custom-file">
            <input type="file" name="image">
            
          </div>
          <div class="input-group-append">
            <span class="input-group-text">Upload</span>
          </div>
        </div>
      </div>
    
    </div> 
    <!-- /.card-body -->

    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>

  </html>

  {% endblock %}